<style>

  .iters-group,
  .flags-group {
    display:     inline-flex;
    align-items: center;
    gap:         6px;
  }
  .iters-group input[type="number"] {
    width:      8ch;
    text-align: center;
  }
  .iters-label {
    font-size:   15px;
    font-weight: 500;
  }

  .arrow {
    opacity:   0.8;
    font-size: 0.85em;
  }

  .critical-wrapper,
  .annotations-wrapper {
    display:       flex;
    align-items:   center;
    flex-wrap:     nowrap;
    gap:           0.4rem;
    margin-top:    5px;
    margin-bottom: 5px;
  }
  .critical-header,
  .annotations-header {
    all:         unset;  /* button reset */
    width:       auto;
    cursor:      pointer;
    background:  #f3f3f3;
    padding:     6px 10px;
    display:     inline-flex;
    align-items: center;
    gap:         0.4rem;
    font-size:   0.95rem;
  }
  .critical-header:hover,
  .annotations-header:hover {
    background: #eaeaea;
  }
  .critical-title,
  .annotations-title {
    flex: 1;
    font-size:   0.95rem;
  }
  .critical-box {
    width:         60%;
    overflow:      hidden;
    padding:       10px;
    background:    #f0f0f0;
    border-radius: 0 0 6px 6px;
  }
  .annotations-box {
    white-space: pre-wrap;
    background:  #f3f3f3;
    padding:     10px;
    margin-top:  0;
    font-size:   0.8rem;
    line-height: 1.2;
    border-radius: 0 0 5px 5px;
  }
  
  .graph-toolbar {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    padding:         4px 6px;
  }
  .graph-title {
    margin:      0;
    font-size:   0.9rem;
    font-weight: 600;
  }
  .graph-subtitle {
    font-size: 0.95em;
    opacity:   0.7;
  }

</style>
